{
  "ALBUM_STORAGE_REGION": "",
  "ADMIN_EMAIL": "",
  "APP_EMAIL": "",
  "IMG_PROXY": "",
  "BUCKET_NAME": "",
  "APP_URI": "",
  "FIREBASE_CHANNEL_SUFFIX": "",
  "CORS_ALLOW_ORIGIN": "",
  "APP_NAME": ""
}