name: Backend

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup DynamoDB Local
      uses: rrainn/dynamodb-action@v2.0.0
      with:
        port: 8000
        cors: '*'

    - name: Validate composer.json and composer.lock
      run: composer validate
      working-directory: ./backend

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
      working-directory: ./backend

    - name: Writing PRIVATE_PEM
      run: 'echo "$PRIVATE_PEM" > ./backend/config/jwt/private.pem'
      shell: bash
      env:
        PRIVATE_PEM: ${{secrets.private_pem_test}}

    - name: Writing PUBLIC_PEM
      run: 'echo "$PUBLIC_PEM" > ./backend/config/jwt/public.pem'
      shell: bash
      env:
        PUBLIC_PEM: ${{secrets.public_pem_test}}

    - name: Run test suite
      run: make test
      working-directory: ./backend
      env:
        AWS_PK: ${{secrets.aws_pk_secret}}
